*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

/********La grande boite qui contient le background et touts les autres element********/
.fond{
    background-image: url(./images/image.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

/***La boite qui conttient les titre , les formulaire  et le bouton submit******/
.wrapper1{
    position: absolute;
    background-color: transparent;
    position: relative;
    width: 550px;
    height: 550px;
    z-index: 10;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


.wrapper{
    background: linear-gradient(90deg, 
              rgb(0, 255, 179) 0%, 
              rgb(19, 213, 206) 26%, 
              rgb(0, 255, 179) 100%);
    position: relative;
    width: 98%;
    height: 98%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #000;
    z-index: 1;
}


.wrapper1::before{
    content: '';
    position: absolute;
    top: -40%;
    left: -45%;
    width: 550px;
    height: 550px;
    background: linear-gradient(0deg,transparent,
    transparent, #f70101, #f70101,#f70101);
    transform-origin: bottom right;
    z-index:1;
    animation: animate 6s linear infinite;
}

.wrapper1::after{
    content: '';
    position: absolute;
    top: -40%;
    left: -45%;   
    width: 550px;
    height: 550px;
    background: linear-gradient(0deg,transparent,
    transparent, #f70101, #f70101, #f70101);
    transform-origin: bottom right;
    z-index:-1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
 
.border::before{
    content: '';
    position: absolute;
    top: -40%;
    left: -45%;
    width: 550px;
    height: 550px;
    background: linear-gradient(0deg,transparent,
    transparent, #2200fb, #1303fd, #0901f2);
    transform-origin: bottom right;
    z-index:1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.border::after{
    content: '';
    position: absolute;
    top: -40%;
    left: -45%;
    width: 550px;
    height: 550px;
    background: linear-gradient(0deg,transparent,
    transparent, #2200fb, #1303fd, #0901f2);
    transform-origin: bottom right;
    z-index:1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.form-box-login{
    height: 100%;
    width: 100%;
}

/********La boite qui continet le titre*********/
.one-box{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-box h2{
    color: #1f1c1c;
    font-size: 2rem;
}



/**********la boite qui contient le formulaire******/
.two-box{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}


 
/******Dans le formulaire, voicie une première boite qui contient le Nom et le Prenom****/
.two-box .name{
    display:flex;
    justify-content: center;
    align-items: center;   
}

.two-box .name .box-input{
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


.two-box .name  .box-input input{
    background-color: #00000017;
    border:2px solid rgb(233, 217, 217) ;
    box-shadow: 0px 2px 4px #6d6a6a ;
    height: 90%;
    width: 90%;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    color: #000;
    font-size: 20px; 
    position: relative;  
    z-index: 10;
    cursor: pointer;
}

.two-box .name .box-input input::placeholder{
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;
}

.two-box .name .box-input input:focus{
    border:2px solid rgb(74, 153, 162) ;  
    background-color: #0000004a; 
}

/******translation de l'indication de "nom" ***/
.two-box .name .box-input .nom{
    position: absolute;
    left: 38px;
    color: #1b1a1a;
    font-size: 25px;
    font-weight: bold;   
    transition: .4s;
}

.two-box .name .box-input input:valid ~ .nom,
.two-box .box-input input:focus ~ .nom
{
    color: #363434;
    color: #1b1a1a;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-32px);
}


/******translation de l'indication de "prenoms" ***/
.two-box .name .box-input .username{
    position: absolute;
    left: 310px;
    color: #1b1a1a;
    font-size: 25px;
    font-weight: bold;   
    transition: .4s;
}

.two-box .name .box-input input:valid ~ .username,
.two-box .box-input input:focus ~ .username
{
    color: #363434;
    color: #1b1a1a;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-32px);
}



/******Dans le formulaire, voici deuxieme boite qui contient da date et  et le genre***/

.two-box .genre{
    display:flex;
    justify-content: center;
    align-items: center;  
}

.two-box .genre .box-input{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-box .genre  .box-input input{
    background-color: #00000017;
    border:2px solid rgb(233, 217, 217) ;
    box-shadow: 0px 2px 4px #6d6a6a ;
    height: 90%;
    width: 90%;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    color: #000;
    font-size: 20px;   
}

.two-box .genre  .box-input input::placeholder{
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;
}

.two-box .genre  .box-input input:focus{
    border:2px solid rgb(74, 153, 162) ;  
    background-color: #0000004a; 
}

.two-box .genre .genre1{
    background-color: #00000017;
    border:2px solid rgb(233, 217, 217) ;
    box-shadow: 0px 2px 4px #6d6a6a ;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    outline: none;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.two-box .genre .genre1 label{
    color: #2c2929;
    font-size: 20px;
    font-weight: bold;
}

.two-box .genre .genre1 .genre-select{
    width: 50%;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    outline: none;
}


/*******La boite qui contient le les carte etudiante et CNi****/
.two-box .carte{
    display:flex;
    justify-content: center;
    align-items: center;   
}

.two-box .carte .box-input{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-box .carte .box-input input{
    background-color: #00000017;
    border:2px solid rgb(233, 217, 217) ;
    box-shadow: 0px 2px 4px #6d6a6a ;
    height: 90%;
    width: 90%;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    color: #000;
    font-size: 20px; 
    position: relative;  
    z-index: 10;
    cursor: pointer;
}

.two-box .carte .box-input input::placeholder{
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;
}

.two-box .carte  .box-input input:focus{
    border:2px solid rgb(74, 153, 162) ;  
    background-color: #0000004a; 
}


.two-box  .carte .box-input .carte-etudiante{
    position: absolute;
    left: 38px;
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;   
    transition: .4s;
}

.two-box .name .box-input input:valid ~ .carte-etudiante,
.two-box .box-input input:focus ~ .carte-etudiante
{
    color: #363434;
    font-weight: bold;
    transform: translateY(-32px);
}

.two-box  .carte .box-input .cni-att{
    position: absolute;
    left: 310px;
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;   
    transition: .4s;
}

.two-box .name .box-input input:valid ~ .cni-att,
.two-box .box-input input:focus ~ .cni-att
{
    color: #363434;
    font-weight: bold;
    transform: translateY(-32px);
}




/*****La boite qui contient les choire de filiere de te Niveau*****/

.two-box  .option{
    display:flex;
    justify-content: center;
    align-items: center; 
}

.two-box .option .box-input1{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.two-box .option .option1{
    background-color: #00000017;
    border-bottom:2px solid rgb(233, 217, 217) ;
    border-right:2px solid rgb(233, 217, 217) ;
    border-left:2px solid rgb(233, 217, 217) ;
    border-top:none;
    box-shadow: 0px 2px 4px #6d6a6a ;
    width: 90%;
    border-radius: 30px;
    outline: none;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px; 
    padding: 6px 0px; 
    display: flex;
    justify-content: center;
}

.two-box .option .option1 #niveau{
    background-color: transparent;
    font-size: 20px;
    color: #1b1a1a;
    font-weight: bold;
    width: 60%;
    outline: none;
    border: none;
}


.two-box .option .option2 {
    background-color: #00000017;
    border-bottom:2px solid rgb(233, 217, 217) ;
    border-right:2px solid rgb(233, 217, 217) ;
    border-left:2px solid rgb(233, 217, 217) ;
    border-top:none;
    box-shadow: 0px 2px 4px #6d6a6a ;
    width: 90%;
    border-radius: 30px;
    outline: none;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px; 
    padding: 6px 0px; 
    display: flex;
    justify-content: center;
}

.two-box .option .option2 #niveau1{
    background-color: transparent;
    font-size: 20px;
    color: #1b1a1a;
    font-weight: bold;
    width: 60%;
    outline: none;
    border: none;
}

.two-box .option .box-input1 .check{
    position: relative;
    top: 6px;
    background: linear-gradient(90deg, rgb(192, 93, 133) 0%, rgb(20, 153, 149) 26%, rgb(64, 168, 188) 100%);
    border:2px solid rgb(233, 217, 217) ;
    width: 70%;
    height: 50%;
    border-radius: 50px;
    outline: none;
    color: #000;
    font-size: 20px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-box .option .box-input1 .check .select{
    color: #1b1a1a;
    font-size: 18px;
    font-weight: bold;
}



/******La boite qui continet le bouton submit****/
.three-box{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-box input{ 
    height: 60%;
    width: 90%;
    border: none;
    background-color: #fff;
    border-radius: 50px;
    font-size: 30px;
    color: #1f1c1c;
    font-weight: bold;    
    transition: .5s ease-in-out;
}

.three-box input:hover{
    background: linear-gradient(90deg, rgb(192, 93, 133) 0%, rgb(20, 153, 149) 26%, rgb(64, 168, 188) 100%);
}



@media screen and (max-width:768px) {

    .fond{
        padding: 10% 0;
        height: auto;
    }
    .wrapper1{
        width: 400px;
        height: 100%;
        padding: 4px 0;
    }

    .wrapper{
    background: linear-gradient(90deg, 
              rgb(0, 255, 179) 0%, 
              rgb(19, 213, 206) 26%, 
              rgb(0, 255, 179) 100%);
    position: relative;
    width: 98%;
    height: 98%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #000;
    z-index: 1;
}

    .one-box{
        height: 100px;

    }

    .two-box .name{
        flex-wrap: wrap;
    }
    .two-box .name .box-input .username{
        left: 38px;
    }

    .genre{
        flex-wrap: wrap;
    }

    .two-box  .carte{
        flex-wrap: wrap;
    }

    .two-box  .carte .box-input .cni-att{
        left: 38px;
    }
    
    .two-box  .option{
        flex-wrap: wrap;
    }



    .wrapper1::before{
        content: '';
        position: absolute;
        top: -50%;
        left: -90%;
        width: 550px;
        height: 100%;
        background: linear-gradient(0deg,transparent,
    transparent, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101);
        transform-origin: bottom right;
        z-index:1;
        animation: animate 6s linear infinite;
    }

.wrapper1::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -90%;
    width: 550px;
    height: 100%;
    background: linear-gradient(0deg,transparent,
    transparent, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101, #f70101);
    transform-origin: bottom right;
    z-index:-1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
 
.border::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -90%;
    width: 550px;
    height: 100%;
    background: linear-gradient(0deg,transparent,
    transparent, #2200fb, #1303fd, #0901f2, #1303fd, #1303fd, #1303fd, #1303fd, #1303fd);
    transform-origin: bottom right;
    z-index:1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.border::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -90%;
    width: 550px;
    height: 100%;
    background: linear-gradient(0deg,transparent,
    transparent, #2200fb, #1303fd, #0901f2, #1303fd, #1303fd, #1303fd, #1303fd, #1303fd);
    transform-origin: bottom right;
    z-index:1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



}